.header {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}

.logo {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
}

.logo:hover .logo-img {
    background-image: url(../img/logo_orange.png);
}

.logo:hover .title__up {
    color: #f26522;
}

.logo:hover .title__down {
    color: #f26522;
}

.logo-img {
    width: 46px;
    height: 44px;
    margin-bottom: 1px;
    background-image: url(../img/logo.png);
}

.title {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.title__up_font-size {
    font-size: 29px;
}

.title__down_font-size {
    font-size: 18px;
}

.contacts {
    float: right;
}

.contacts__phone {
    text-align: right;
}