@import url(header.css);
@import url(main.css);
@import url(footer.css);


.background-img {
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

._font-style-a {
    font-family: Verdana;
    color:  #ffffff;
}

._font-style-b {
    text-transform: uppercase;
    font-weight: 700;
}

._margin-right-0 {
    margin-right: 0;
}

._line-margin {
    margin-top: 5px;
}



